<div class="blog"></div>
<h1 class="pad-left pad-right">Common Career Paths for Software Engineering Majors</h1>
<div class="pad-left blog-heading"></div>
<h4 class="pad-left pad-right blog-subhead">A simple guide for where to take yourself after college</h4>
<img src="https://www.thesportsgeek.com/wp-content/themes/sportsgeek/images/moneySmaller.png" class="pad-left pad-right blog-image" />
<p class="pad-left pad-right blog-paragraph">
    If you’re pursuing a degree in Computer Science, or Software Engineering, or even attending a boot camp, you’re probably curious about what the next step is. Where will your life take you, and what will be your career? Fortunately, Software Engineering has a good job market, and there are plenty of jobs out there. Unfortunately, this ends up bringing forth a tough decision. What do you specialize in?

<br><br>

This article will try to cover the specific paths for Software Engineering. Within IT and engineering, there are many different career paths, but this one will focus on the primary path where you can write code and have optimal career growth.

<br><br>

</p>

<h2 class="pad-left pad-right">Software Engineer/Developer</h2>

<p class="pad-left pad-right blog-paragraph">

<strong>Web Developer</strong><br>
Web development is a broad field that covers all development for a website. This could be developing for mobile, desktop, or both. This could also be front-end development, which is the look and feel of a website, back-end development, which is how the website interacts on the server side, or full-stack which is a combination of both.

<br><br>
Although web development is the most competitive field due to the low barrier of entry, there will always be plenty of jobs in this market since almost every company needs a website.

<br><br>

<strong>Mobile App Development</strong><br>
Mobile development is the application of coding with mobile devices, such as phones, or tablets. Similar to web development, mobile developers will have both a front-end and back-end. This field has many positions, but some skills gained may not be able to transfer well to other domains.

<br><br>

<strong>Cloud Computing</strong><br>
Cloud computing is interacting and developing for servers and functions hosted in the cloud, such as with Amazon Web Services, or Google Cloud.

<br><br>

<strong>Data Scientist</strong><br>
Data scientists are the ones in charge of using code to analyze large sets of data. Using this data, different insights can be gained into how a company functions or how users function.

<br><br>

<strong>Cyber Security</strong><br>
Cyber security is the field of providing safe and secure access to a platform, and ensuring that no malicious users can negatively impact a platform.

<br><br>

<strong>API development</strong><br>
API developers create tools for other developers to use. They handle a lot of the behind the scenes work for a company.

<br><br>

<strong>Game Development</strong><br>
Game development is a pretty obvious one. You make games. Usually this field is lower pay for harsher work conditions, but if you enjoy making games, this could be a path for you.

<br><br>

<strong>AI & Machine Learning</strong><br>
The hot buzz around town, use models to predict certain actions and create artificial intelligence. Apply large amounts of math in order to create systems that can improve themselves.

<br><br>

<strong>Low Level Engineering</strong><br>
Be it working on operating systems, or direct hardware, low level programmers use C or even assembly to interact with the deepest architectural levels of systems.

<br><br>

</p>