<div class="blog"></div>
<h1 class="pad-left pad-right">How to Build and Foster Confidence in Your Life</h1>
<div class="pad-left blog-heading"></div>
<h4 class="pad-left pad-right blog-subhead">A simple guide to becoming sure of yourself</h4>
<img src="https://image.flaticon.com/icons/png/512/1134/premium/1134201.png" class="pad-left pad-right blog-image" />
<p class="pad-left pad-right blog-paragraph">
    Lately I've been having some discussions with people. They say "I'm not confident enough," or "I'm too scared of messing up."
    <br><br>
    A lot of the common advice is "be confident" or words to that effect. People often dismiss this advice telling them that "It isn't that simple," or "I can't just flip a switch and suddenly be confident."
    <br><br>
    It's a fair argument. Nobody is able to just flip a switch and change a part of who they are. That's not exactly the point with this advice, however.
    <br><br>
    So I'm going to explain to you how to can build and foster confidence in your life. Building confidence is one of the best things you can do for yourself and your career. Don't be afraid to make the first step. You have to be open to change in order to start building confidence.
    <br><br>
    So how does one actually become confident? It's simple; start doing things that you are uncomfortable with. Notice how I said that it's simple. It is simple; it's not easy.
    <br><br>
    You have to move outside of your comfort zone. Take risks. Do things that you normall wouldn't do.
    <br><br>
    That's really it.
    <br><br>
    Sometimes the claims of "it isn't that simple" come in. Trust me, it is that simple. It's just not easy.
    <br><br>
    The most effective way to grow is through failure. You may have heard the term "fail fast". What it means is that when completing a project or task, you should mess up early because then you can learn from your mistakes and improve upon them in the future.
    <br><br>
    Simply stepping outside of your comfort zone is not what makes you confident. It is the <strong>PROCESS</strong> that will make you confident. From doing things that you are afraid of doing, you will get better at doing them, and eventually that fear will go away.
    <br><br>
    Keep stepping outside of your comfort zone, and, bit by bit, youl will find you keep getting better at doing them. You get better and better, and as that happens, you gain more confidence. You keep pushing to make it harder because when you do something harder than what you did before, then what you did before is simple in comparison.
    <br><br>
    People don't like hearing this advice because it is tough. It is going to be hard. Those first steps in doing something you are uncomfortable with are the worst.
    <br><br>
    The great thing is that it keeps getting easier. Perhaps your jouney will take longer than another person's journey. When you cultivate this skill over years, however, you can look back and think, "man, I can't believe I didn't want to do that."
    <br><br>
    It isn't just a switch that you can flip and be confident. The switch is whether or not you do it. Will you choose to step outside of your comfort zone, or stay safe and unconfident? The choice is yours, but you have to trust yourself to make the right decision.
    <br><br>
    It isn't easy, it's simple. The sooner you accept that you will fail, the sooner that you will succeed. The process takes time, but you have to suffer a little in order to stop suffering. That's how you improve at something.
    <br><br>
    "I'm not confident" you say, so then I reply, "What are you going to do about it?"
</p>