<head><title>Finding Your Passion</title></head>
<div class="blog"></div>
<h1 class="pad-left pad-right">Tips and Tricks to Finding Your Passion</h1>
<div class="pad-left blog-heading"></div>
<h4 class="pad-left pad-right blog-subhead">A simple guide for finding what you love</h4>
<img src="https://image.freepik.com/free-vector/man-shows-gesture-great-idea_10045-637.jpg" class="pad-left pad-right blog-image" />
<p class="pad-left pad-right blog-paragraph">
    You’re stuck in a rut. You want something fulfilling from life, but you just aren’t sure what it is. You want to know what value you can provide to the world. You want to know what your purpose is.

<br><br>

Maybe you’re a high school student, looking to decide on your major for college. It’s a big decision, and you aren’t sure if you’re making the right choice.

<br><br>

Maybe you’re already in college, and you are jumping around from major to major, not really clicking with anything, but at the same time, accruing thousands in debt.

<br><br>

Maybe you’re in the workforce, but you feel like the job you’re at isn’t really one that you enjoy.

<br><br>

Wherever you are, you need to find your purpose. Finding your purpose gives you the freedom to truly enjoy what you are doing. You also get to put forth a higher quality of work because you know that this is what you are meant to do.

<br><br>

So how do we find our purpose?

<br><br>

</p>

<h2 class="pad-left pad-right">Do More Things</h2>

<p class="pad-left pad-right blog-paragraph">
 	One of the most important things that people need to do before trying to find their passion is to experiment with different things. I don’t mean spend two years traveling the world. I mean going outside your comfort zone. Do an activity you wouldn’t normally do. Try things that might not seem fun to you. Try learning a new skill. Try painting a picture. Try writing a short story. Try creating a website. Try new things.

<br><br>

	Most people get stuck in the same cycle. They walk to work or class the same way every day. They eat the same food every week. They talk to the same people all the time. It’s easy to stay in the same routine all the time. 

	<br><br>

	Unfortunately, this sets people back. It stops them from discovering themselves. It stops them from knowing the wide variety of things they like and things they dislike. Most people find a few things they like, and stop exploring. They stop learning about other things they might like. 

	<br><br>

	They do this because of the inherent risk involved. If you’re trying something new, there’s the possibility that you won’t enjoy it. It might seem like a waste of your time.

	<br><br>

	It isn’t a waste of time to learn more about yourself. By doing this, you’ll be able to know what comes naturally to you, and what doesn’t. This is essential in finding your passion.
</p>

<h2 class="pad-left pad-right">Consider Your Audience</h2>

<p class="pad-left pad-right blog-paragraph">
	One of the most important aspects in finding your purpose is knowing who your audience will be. We live in a social world, and we as humans are social beings. This means that your purpose likely involves interacting with someone else in some way, shape, or form.

	<br><br>

	Think of a group of people, and something that you want to do for them. Do you want to entertain people? Narrow it down. Do you want to entertain young adults? Narrow it down more? Do you want to make young adults laugh? This is your audience and your goal.

	<br><br>

	Consider a few different groups and things that you can do for them. You don’t necessarily have to be able to do everything for them right now. It is your purpose. That means it will be your goal that you can dedicate your life striving for.
</p>

<h2 class="pad-left pad-right">Consider Your Skills</h2>

<p class="pad-left pad-right blog-paragraph">
	Since you tried out a bunch of new things, you should have a good idea of what your skills are, and what you enjoy doing. Consider which of your skills you would be interested in doing long term. Which of your skills would you still enjoy doing even when they’re hard?

<br><br>

At the same time, consider how good you are at these skills. You can like something all you want, but if you aren’t very good at it, it might not be the best skill to base your purpose on. While doing this, don’t forget to consider that skills can get better over time. You should know which of your skills are skills that you would enjoy growing, rather than ones that seem like a grind to get better at. The skills that you enjoy growing and enjoy using are the ones you want to take note of.

</p>

<h2 class="pad-left pad-right">Put It All Together</h2>

<p class="pad-left pad-right blog-paragraph">
	Once you know your audience, and your skills, you can combine the two. Ask yourself the question, “How am I able to impact my audience with the skills that I have?” Once you have done this, you have found your purpose and a way you can get at it.

	<br><br>

	As an example, my purpose is to help people. To do this, I set up this website in order to bring content to teach people. My skill was programming, so I learned more about that in order to figure out how to achieve that goal. Figuring out what I wanted to do with my skills is what gave me purpose.

	<br><br>

Unfortunately, we live in a world where some paths are less viable than others. Some majors will make more money than others. You might think your passion is to play video games, but for most people, this isn’t a financially reliable path.

<br><br>

You have to consider this into account when you are looking for your purpose. If you’re going to college for a degree, try to figure out if that degree will be able to help you toward your goals.

	<br><br>

	At the end of the day, when all is said and done, know that you can use your skills to impact people, you just have to figure out what the path to do that is.

</p>

</p>

<p class="pad-left pad-right blog-paragraph">
    -Daniel Barnes
    <br><br>
    <a href="https://www.freepik.com/vectors/people">People vector created by syarifahbrit - www.freepik.com</a>
</p>