<div class="blog"></div>
<h1 class="pad-left pad-right">How to be Creative in Software Engineering</h1>
<div class="pad-left blog-heading"></div>
<h4 class="pad-left pad-right blog-subhead">A simple guide to foster your creativity in Software Engineering</h4>
<img src="https://image.freepik.com/free-vector/creativity-concept-illustration_114360-1083.jpg" class="pad-left pad-right blog-image" />
<p class="pad-left pad-right blog-paragraph">
    I like to say that Software Engineering at its core is a creative discipline. Yes, it is largely technical, but when you need to solve problems, there are times when you need to think outside of the box, and be creative.

    <br><br>

    So how exactly can someone improve their creativity? Is it not just something that some people are born with and others are not? I don’t think so. I think creativity is a skill that can be learned.

    <br><br>

    To figure out how to learn creativity, we must first figure out what exactly creativity is. Everyone knows of the abstract concept of creativity. Everyone knows what your typical “creative” activities are. I’m sure everyone can agree with the Oxford Languages definition of creativity as “the use of the imagination or original ideas…”

    <br><br>

    So what is creativity as it relates to Software Engineering? It is using your ideas to solve problems. More often than not, the problem you run into will be unique. There will be times when you shouldn’t reinvent the wheel, and instead just go with a premade library, but most businesses have use cases and implementations that separate them from the competition. This is where your creativity comes in.

    <br><br>

    Notice that in the definition, it says <em> “the use of” </em>. The ideas you use don’t necessarily have to be your own original ideas. Everyone uses for loops, and if statements. The creativity comes in <em>how</em> you use these tools.

    <br><br>

    To figure out how to be creative, the key is to <strong><em>ask questions</em></strong>. Ask questions about what the problem is. Figure out what your constraints are. Figure out what your intended outcome is. From there, you just have to connect the dots in order to get from point A, the start, to point B, the end.

    <br><br>

    When you know the beginning and end of a story, you have complete freedom in how you get there. You know the tools that you have available, and you know what you need in the end product. Build the road to get there.

    <br><br>

    Creativity in Software Engineering is the same as creativity in any other subject. Take writing a book, for example. When you start the book knowing the ending, you’re able to introduce concepts that allow your creativity to soar. You know who your characters are, and what they need to become, so you can introduce different events into their lives that will get them to that end result.

    <br><br>

    It doesn’t actually matter much what these events are. As you write more and more, you’ll start to be more creative with what writing styles you use. You’ll experiment, and learn more about what works and what doesn’t. You’ll eventually understand what it takes to get from point A to point B. The entire time, you were being creative, writing the story, but as you wrote more, you got better at it.

    <br><br>

    It is the same as a Software Engineer. As you solve problems, you’ll learn what works and what doesn’t. You’ll be able to change how you approach different situations. You’ll be using your creativity to solve these problems. And as you solve more and more, you’ll get better at it.

    <br><br>

    It all comes back to asking questions. As you get better at writing software, you’ll get better at asking questions. It’s like the difference between a junior developer and a senior developer. The senior developer is able to think of the wider picture, and more long-term than a junior developer. They are able to <strong>ask more questions</strong>. That is how you are able to foster your creativity as a Software Engineer.
</p>

<p class="pad-left pad-right blog-paragraph">
    -Daniel Barnes
    <br><br>
    <a href="https://www.freepik.com/vectors/idea">Idea vector created by stories - www.freepik.com</a>
</p>