<div class="blog"></div>
<h1 class="pad-left pad-right">A Fresh Start</h1>
<div class="pad-left blog-heading"></div>
<h4 class="pad-left pad-right blog-subhead">Why I decided to pivot this website</h4>
<img src="https://lh3.googleusercontent.com/proxy/7AB7TijX2bQ_i-80JQeo3A-88R2pIk-v-Nm4ZIORCT1hsjTwxE5w2FmEP4BvE7mRvWl2_9WzCgGcK5OU97W-7SyC5oBUo6dj2lZjXl2ce7Ahi2ei-Kjj13l_vAfZWnwn7HT23XcjpFICng654OKjYCHr" class="pad-left pad-right blog-image" />
<p class="pad-left pad-right blog-paragraph">
tl;dr at the bottom.

<br><br>

Develop, Inspire, Create.

<br><br>

Those words mean something to me.

<br><br>

Originally, I wanted to share and teach what those words really mean. I wanted to take what I know and share it. Yet, whenever I would type what exactly those words mean to me, it would never come out just right. I could never really explain what Develop, Inspire, Create means.

<br><br>

Yet, I knew that it meant something. I knew that it related to self improvement, creativity, and success in one's career and life.

<br><br>

So of course, I wrote some blog posts, here and there, about Software Engineering, life, and things that were important to me. They still are important to me.

<br><br>

So why did I change my mind?

<br><br>

Why did I not make more?

<br><br>

I was making a promise I couldn't keep.

<br><br>

I wanted this website to be a place where anyone looking to improve themselves, particularly in software engineering, could find resources and information. It was a big undertaking, and one, quite frankly, I was not willing to give the time commitment it needed.

<br><br>

I'm at a point in my life where I have a fresh start. I have a new job, I'm living in a new city, and I just finished school. I'll be honest and say that I just don't want to spend my time right now writing blog posts constantly about self-improvement. It's still a big topic in my life, and something I deeply care about, but I just don't think I'm able to devote the time to the promise of constant content that I initially wanted.

<br><br>

I'm still going to make posts about self improvement and the like, but this time, I'm broadening my horizons. I don't want to be stuck in the Software Engineering or self help field. I want to be able to have posts about my thoughts. I want to have posts about other things that matter to me.

<br><br>

I want to make posts for myself, rather than for others.

<br><br>

I'm going to have things here that I think are cool, and I'm going to do it at my own pace.

<br><br>

Part of me has been conflicted about what to do with this website for the longest time. I wasn't sure if I wanted to pivot this website, or start a new website. I decided to pivot, and this blog post is here for full transparency to my readers. It's also a reminder for myself if I ever want to switch back.

<br><br>

So this time around, I'm not planning anything. I'm not planning to grow this into some grand thing. I'm not planning to have constant content. It's just going to be a personal site.

<br><br>

So look forward to that.

<br><br>

-Daniel

<br><br>

tl;dr Laziness, and that I want to write about other things as well.
</p>