<div class="blog"></div>
<h1 class="pad-left pad-right">Late Night Musings</h1>
<div class="pad-left blog-heading"></div>
<h4 class="pad-left pad-right blog-subhead">The State of Flow</h4>
<img src="https://image.freepik.com/free-vector/mindfulness-concept-illustration_114360-936.jpg" class="pad-left pad-right blog-image" />
<p class="pad-left pad-right blog-paragraph">

So I'm sitting here at my computer. It's 1:59 AM on a Thursday night. Tomorrow I have work, so all signs point to the fact that I should be sleeping right now. I'm not, obviously, but the question is why?

<br><br>

The clocked just moved to 2:00 AM. Work starts at 9:00 AM tomorrow. Why am I awake?

<br><br>

The answer is simple, really: I was working on this website. I was updated the logo and icon you see in the pages tab next to the title. That took me a bit longer than I would have liked, so I ended up staying up until now 2:02 AM.

<br><br>

It's interesting, really, working on a project that you really enjoy. Time stops being something that you are aware of, and you enter a flow state where you don't even realize what time it is. Then, you finish, and suddenly realize that it's 1:55 AM.

<br><br>

So you think about that flow state, and you're a bit fascinated with it. When we're doing work we love, we hardly even process that time. We're intensely focused on what we're doing, and thinking back, you're not even really sure exactly what happened. Maybe it's the lack of sleep getting to you, or maybe it's the flow state. 

<br><br>

In contrast, when you're doing something you hate, the hours drag on. Time seems to slow down to a standstill. It's funny in a tragic sort of way; the things you love to do seem to go by the fastest, whereas the things you hate to do seem to go by the slowest. 

<br><br>

It's moments like these which really force you to appreciate those times where you are doing something you love.

<br><br>

Isn't flow the state we're all trying to get to? I'm not the one who came up with the idea of flow. There are a bunch of books and podcasts on the subject. People call it different things, but it's all just getting into a state where things feel effortless. Everything just works.

<br><br>

So we do want to get to flow, right?

<br><br>

Right?

<br><br>

Probably, yet my 2:11 AM brain is thinking that what if it's not actually optimal to achieve this flow state? Sure, we'll be more productive which is always great. At the same time though, we're not really "remembering" these moments. They fade away, and we lose out on the feelings that those moments have.

<br><br>

It feels great to be hyper productive, and get something done, but in 10 years, are we really going to remember that one night when everything just kinda seemed to click and fall into place? Maybe that's why we create things; so that we have something to look back on. To create something to remind us of the effort that we put in.

<br><br>

I'm not really sure. I've always thought of the flow state to be something we want to achieve. Maybe not, though. I don't know, I'm not a psychologist.

<br><br>

I will say though, negative emotions tend to stick easier than positive emotions. Those times doing things you hate that seem to drag on will stick more easily than the moments in a flow state.

<br><br>

With this, we have to make a concious effort to remember these moments of flow. It goes along with enjoying the small things in life. Finding beauty in things like late night coding sessions where everything works, or any number of activities where you enter flow can open a pathway to a more fulfilling life.

<br><br>

Or not, I don't know. I'm really just tired, and frankly, 2:18 AM is way past my bedtime.

<br><br>

--

<br><br>

<a href='https://www.freepik.com/vectors/illustrations'>Illustrations vector created by stories - www.freepik.com</a>

</p>