<div class="blog"></div>
<h1 class="pad-left pad-right">You Can Do It - 5 Tips When You're Feeling Down</h1>
<div class="pad-left blog-heading"></div>
<h4 class="pad-left pad-right blog-subhead">A simple guide on how to make sure you're taking care of yourself</h4>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/SMirC-sad.svg/1200px-SMirC-sad.svg.png" class="pad-left pad-right blog-image" />
<p class="pad-left pad-right blog-paragraph">
    So, for some reason or another, things aren't working out in your life exactly how you expected them to. You're not feeling great, and you aren't sure when things are going to get better.
    <br><br>
    Perhaps you aren't really sure what is the next step for you, and you're either worried, or scared, or some combination. Perhaps it's something else.
    <br><br>
    You've come to this post for some reason or another, so I'm going to give you five tips for when you're feeling down.
</p>
<h2 class="pad-left pad-right">Meditate</h2>

<h2 class="pad-left pad-right">Write</h2>