<center>
    <h1>Blog Posts</h1>
    <ul class="blog-list pad-left pad-right">
        <a href="/blog?blog=Finding-Your-Passion"><li class="blog-post-card">Tips and Tricks to Finding Your Passion</li></a>
        <a href="/blog?blog=How-To-Be-Creative"><li class="blog-post-card">How Hackathons Create Technical Debt</li></a>
        <a href="/blog?blog=Hackathons-And-Technical-Debt"><li class="blog-post-card">How Hackathons Create Technical Debt</li></a>
        <a href="/blog?blog=Create-Confidence"><li class="blog-post-card">How to Create and Foster Confidence In Your Life</li></a>
        <a href="/blog?blog=5-Tips-When-Feeling-Down"><li class="blog-post-card">You Can Do It - 5 Tips When You're Feeling Down</li></a>
        <a href="/blog?blog=How-To-Get-A-Software-Engineering-Internship"><li class="blog-post-card">The Definitive Guide to Getting a Software Engineering Internship</li></a>
        <a href="/blog?blog=Common-Career-Paths-for-SE"><li style="display: none" class="blog-post-card">Common Career Paths for Software Engineering Majors</li></a>
        <a href="/blog?blog=5-Things-I-Wish-I-Knew-Before-SE"><li class="blog-post-card">Top 5 Things I Wish I Knew Before Starting My Degree In Software Engineering</li></a>
    </ul>
</center>