<div class="blog"></div>
<h1 class="pad-left pad-right">You Can Do It - 5 Tips When You're Feeling Down</h1>
<div class="pad-left blog-heading"></div>
<h4 class="pad-left pad-right blog-subhead">A simple guide on how to make sure you're taking care of yourself</h4>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/SMirC-sad.svg/1200px-SMirC-sad.svg.png" class="pad-left pad-right blog-image" />
<p class="pad-left pad-right blog-paragraph">
    So, for some reason or another, things aren't working out in your life exactly how you expected them to. You're not feeling great, and you aren't sure when things are going to get better.
    <br><br>
    Perhaps you aren't really sure what is the next step for you, and you're either worried, or scared, or some combination. Perhaps it's something else.
    <br><br>
    You've come to this post for some reason or another, so I'm going to give you five tips for when you're feeling down.
</p>
<h2 class="pad-left pad-right">Meditate</h2>
<p class="pad-left pad-right blog-paragraph">
    I've found that sometimes when I'm not feeling the best, I just need to relax a little. I need to take a moment to recollect myself, and center my mind.
    <br><br>

    That's exactly what meditation is used for: to calm your senses and recenter. I'm not one of those people that thinks you should meditate every single day, but I have found that meditation every once in a while can be perfect to helping your emotional and mental health.
    <br><br>

    Sometimes the reason for me feeling down is that I am stuck inside my head. I spend too long thinking about all the problems going on in my life. We have to realize that fretting about our problems will not give us the answers. First, we must clear our minds, so then we are able to figure out a little bit of what is going on.
</p>

<h2 class="pad-left pad-right">Write</h2>
<p class="pad-left pad-right blog-paragraph">
    For me, I use writing when I have so many thoughts running around in my head that I don't understand any of it. I use writing as a way to organize everything.
    <br><br>
    I don't necessarily try to solve the problem. I instead try to write about what the problem is. How did it get to this way, and why am I upset. I write as if I am telling the story to one of my close friends.
    <br><br>
    It's like I'm asking for advice, but the one I am asking for advice is me. I've found this to be a highly effective way of figuring out what I want to do with myself and my emotions. I truly recommend that you write about the situation making you feel down.
</p>

<h2 class="pad-left pad-right">Do Something Physically Active</h2>
<p class="pad-left pad-right blog-paragraph">
    Doing some physical exercise or going for a walk can get your mind off of the sadness almost completely. When you're feeling down, generally you're thinking a little too much, so you need to engage your motor skills and do something with your hands or feet.
    <br><br>
    I like to go for walks. I get to experience nature, breathe in the fresh air, and kind of tune out the world. It's relaxing, and when I'm feeling down, I just need to chill for an hour or so to recollect myself.
    <br><br>
    If you're alone, you have the added benefit of being able to think more deeply on your problems. This is scientifically supported. You think better after getting physical exercise. If you're doing something with other people, it'll distract you for a bit.
    <br><br>
    You could solve your problems, or realize that they aren't as serious as you thought they were, but I gurantee after doing physical activity, you won't be feeling so down.
</p>

<h2 class="pad-left pad-right">Watch Comedy Videos</h2>
<p class="pad-left pad-right blog-paragraph">
    Maybe you don't want to do anything really, you just want to be a couch potato and feel good. I don't recommend this long term, but if you want to do something before you tackle the issues making you feel down, I recommend watching comedy videos.
    <br><br>
    You can find them on YouTube, or your favorite TV channels, but whereever you search, make sure the people in them make you laugh.
    <br><br>
    It's a scientific fact that laughing will make you feel better. It might be temporary and wear off once the video ends and you start having another existential crisis, but it's a good way to support yourself when things aren't going your way.
    <br><br>
    Plus, do you know how hard it is to be mad or sad at something making you laugh. It's pretty hard. Watching comedy videos can be a complete mood changer.
</p>

<h2 class="pad-left pad-right">Create a List of Goals</h2>
<p class="pad-left pad-right blog-paragraph">
    So you decided you just want to fix the issues. Hopefully you meditated or wrote about them and you have an understanding of how they came to be. If you didn't, think about the problems and why they are in your life.
    <br><br>
    Do you have control over them? What can you do? For some problems, you might instinctively think that you don't have much control. Maybe the problem is someone else. Maybe the problem is a situation you can't control.
    <br><br>
    You can control what you do, however. So that's what the goals should be about. They should be specific objectives that you can achieve in a certain timeframe.
    <br><br>
    Make sure your goals are measurable. You want "I will work out 4 times a week," rather than "I will work out more." Creating measurable goals have proven to increase effectiveness and odds that you will actually achieve them.
    <br><br>
    And then after you've created the goals, create a list of specific tactics that you can put in place to achieve them.
    <br><br>
    Creating goals allows you to know that you are working towards progress, rather than letting whatever problems are in your life take away your freedom. I personally find that I feel better when I know that I'm getting closer toward solving my problems, and the first step toward that is creating goals.
</p>

<h2 class="pad-left pad-right">Time to Stop Feeling Down</h2>
<p class="pad-left pad-right blog-paragraph">
    Let's recap on what we can do to stop feeling down.
</p>
<ul class="pad-left pad-right">
    <li>Meditate</li>
    <li>Write</li>
    <li>Do Something Phsyically Active</li>
    <li>Watch Comedy Videos</li>
    <li>Create a List of Goals</li>
</ul>
<p class="pad-left pad-right blog-paragraph">
    With these tips, you'll be feeling better in no time!
</p>