<center>
    <h1>Blog Posts</h1>
    <ul class="blog-list pad-left pad-right">
        {{#each blogs}}
            <a href="/blog?blog={{ this.filename }}"><li class="blog-post-card">{{ this.title }}</li></a>
        {{/each}}
    </ul>
</center>