<center>
    <h1>Blog Posts</h1>
    <ul class="blog-list pad-left pad-right">
        <a href="/blog?blog=1"><li class="blog-post-card">Top 5 Things I Wish I Knew Before Starting My Degree In Software Engineering</li></a>
    </ul>
</center>