<center>
    <h1>Blog Posts</h1>
    <ul class="blog-list pad-left pad-right">
        <a href="/blog?blog=3"><li class="blog-post-card">The Definitive Guide to Getting a Software Engineering Internship</li></a>
        <a href="/blog?blog=2"><li style="display: none" class="blog-post-card">Common Career Paths for Software Engineering Majors</li></a>
        <a href="/blog?blog=1"><li class="blog-post-card">Top 5 Things I Wish I Knew Before Starting My Degree In Software Engineering</li></a>
    </ul>
</center>