<div class="blog"></div>
<h1 class="pad-left pad-right">Common Career Paths for Software Engineering Majors</h1>
<div class="pad-left blog-heading"></div>
<h4 class="pad-left pad-right blog-subhead">A simple guide for where to take yourself after college</h4>
<img src="https://www.thesportsgeek.com/wp-content/themes/sportsgeek/images/moneySmaller.png" class="pad-left pad-right blog-image" />
<p class="pad-left pad-right blog-paragraph">
</p>