<div class="pad-left">
<h1>Admin Dashboard</h1>
<ul class="dashboard-list">
    <li><a href="/newsletter/:{{ authentication_token }}">Send Newsletter</a></li>
    <li><a href="/addProject/:{{ authentication_token }}">Add New Project</a></li>
</ul>
</div>