<div class="linebreak-big-margins"></div>
<div class="pad-left pad-right">
    <div id="simulationTextDiv">
    <center><p id="simulationText"></p></center>
    </div>
    <br><br><br><br>
    <div class="pad-left pad-right" id="playerStatsDiv">
        <p id="playerName"></p>
        <p id="playerAge"></p>
    </div>
    <br><br><br><br><br>
    <center><button onClick="simulateYear()">Simulate Year</button></center>
</div>
<div class="linebreak-big-margins"></div>