<div class="footer">
    <div class="linebreak"></div>
    <p>Copyright <i class="fa fa-copyright"></i> 2020 - Daniel Barnes All Rights Reserved - <a href="/pp">Privacy Policy</a></p>
    <p>Enjoy this project? Buy me a <a href="https://paypal.me/DevelopInspireCreate">pizza</a>.</p>
    <p><a href="https://twitter.com/bballdaniel3"><i class="fa fa-twitter"></i></a> <a href="https://github.com/danielbarnes175"><i class="fa fa-github"></i></a>  #DevelopInspireCreate</p>
</div>