<div class="background-secondary">
    <div class="pad-left pad-right">
        <center>
        <h2><em>Learn Lots - Be Kind - Bring Your Ideas to Life</em></h2>
        <h3 class="index-subhead"></h3>
        </center>
    </div>
</div>
<div class="linebreak-big-margins"></div>
<div class="index-container">
    <div class="row">
        <div class="content-card background-light-gray">
            <center><h1>Develop</h1>
            <p><strong><em>Develop Your Skills</em></strong></p>
            <img alt="Develop Image" src="images/develop.webp" class="content-card-image" />
            </center>
            <div class="content-card-line"></div>
            <div class="content-card-blog">
                <h3>Seek Self Improvement</h3>
                <p>Be a better person. Develop your skills. Be good. Improving yourself lets you add values to the lives of others.</p>
            </div>
        </div>
        <div class="content-card">
            <center><h1>Inspire</h1>
            <p><strong><em>Inspire Others</em></strong></p>
            <img alt="Inspire Image" src="images/inspire.webp" class="content-card-image" />
            </center>
            <div class="content-card-line"></div>
            <div class="content-card-blog">
                <h3>Laugh For No Reason</h3>
                <p>Find joy in the small things. Seek happiness, and laughter. Live the life you want to have. Laugh for no reason.</p>
            </div>
        </div>
        <div class="content-card background-light-gray">
            <center><h1>Create</h1>
            <p><strong><em>Create New Things</em></strong></p>
            <img alt="Create Image" src="images/create.webp" class="content-card-image" />
            </center>
            <div class="content-card-line"></div>
            <div class="content-card-blog">
                <h3>Bring Your Ideas to Life</h3>
                <p>From an animator to a programmer to an artist, or writer, anyone can do it. Take your knowledge, skills, and dreams, and bring them into reality.</p>
            </div>
        </div>
    </div>
</div>
<div class="linebreak-big-margins"></div>
<div class="background-secondary">
    <div class="pad-left pad-right">
        <h1></h1>
        <h3 class="index-subhead"></h3>
    </div>
</div>
<div class="container background-black">
    <div class="myCenter">
        <img alt="Develop Inspire Create" class="jumbo-img" src="images/DevelopInspireCreate.png">
    </div>
</div>
<div class="background-secondary">
    <div class="pad-left pad-right">
        <h1></h1>
        <h3 class="index-subhead"></h3>
    </div>
</div>