<div class="background-secondary">
    <div class="pad-left pad-right">
        <h1></h1>
        <h3 class="index-subhead"></h3>
    </div>
</div>
<div class="linebreak-big-margins"></div>
<div class="index-container">
    <div class="row">
        <div class="content-card background-light-gray">
            <center><h1>Develop</h1>
            <p><strong><em>Do you want to develop your skills?</em></strong></p>
            <img alt="Develop Image" src="images/develop.webp" class="content-card-image" />
            </center>
        </div>
        <div class="content-card">
            <center><h1>Inspire</h1>
            <p><strong><em>Do you want some inspiration?</em></strong></p>
            <img alt="Inspire Image" src="images/inspire.webp" class="content-card-image" />
            </center>
        </div>
        <div class="content-card background-light-gray">
            <center><h1>Create</h1>
            <p><strong><em>Do you want to create new things?</em></strong></p>
            <img alt="Create Image" src="images/create.webp" class="content-card-image" />
            </center>
        </div>
    </div>
</div>
<div class="linebreak-big-margins"></div>
<div class="newsletter-signup">
        <h1 class="myCenter">Sign up for the newsletter</h1>
        <form class="myCenter" action="/subscribe" method="post">
            <input class="form-box" type="email" id="email" name="email" placeholder="Enter your email">
            <input type="submit" class="button-primary" />
        </form>
        <p class="form-description">Be one of the first to receive updates on new content with Develop Inspire Create</p>
        <br>
        {{#if attempted}}
            {{#if result}}
                <center><i class="fa fa-check"></i> Please check your email to verify your account!</center>
            {{else}}
                <center><i class="fa fa-times"></i> Something went wrong. Try again later.</center>
            {{/if}}
        {{else}}

        {{/if}}
</div>
<div class="background-secondary">
    <div class="pad-left pad-right">
        <h1></h1>
        <h3 class="index-subhead"></h3>
    </div>
</div>
<div class="container background-black">
    <div class="myCenter">
        <img alt="Develop Inspire Create" class="jumbo-img" src="images/DevelopInspireCreate.png">
    </div>
</div>
<div class="background-secondary">
    <div class="pad-left pad-right">
        <h1></h1>
        <h3 class="index-subhead"></h3>
    </div>
</div>