<div class="background-secondary">
    <div class="pad-left pad-right">
        <h1>Are you looking to pursue a career in Software Engineering?</h1>
        <h3 class="index-subhead">We're here to help. We've compiled the best tips and resources for you to further your career and become the very best software engineer you can be.</h3>
    </div>
</div>
<div class="linebreak-big-margins"></div>
<div class="index-container">
    <div class="row">
        <div class="content-card background-light-gray">
            <center><h1>Develop</h1>
            <p>Do you want to develop your skills?</p>
            <img alt="Develop Image" src="images/develop.webp" class="content-card-image" />
            </center>
            <div class="content-card-line"></div>
            <div class="content-card-blog">
            <a href="/blog?blog=5-Things-I-Wish-I-Knew-Before-SE" onclick="return myScroll();"><h3>Top 5 Things I Wish I Knew Before Starting My Degree In Software Engineering</h3></a>
            <p>A list of what's better to learn earlier than later in your Software Engineering degree.</p>
            </div>
            <div class="content-card-line"></div>
            <div class="content-card-blog">
                <a href="/blog?blog=How-To-Get-A-Software-Engineering-Internship" onclick="return myScroll();"><h3>How to get a Software Engineering Internship</h3></a>
                <p>A complete resource that contains everything you could want in regards to getting your first internship.</p>
            </div>
        </div>
        <div class="content-card">
            <center><h1>Inspire</h1>
            <p>Do you want some inspiration?</p>
            <img alt="Inspire Image" src="images/inspire.webp" class="content-card-image" />
            </center>
            <div class="content-card-line"></div>
            <div class="content-card-blog">
                <a href="/blog?blog=5-Tips-When-Feeling-Down" onclick="return myScroll();"><h3>You Can Do It - 5 Tips When You're Feeling Down</h3></a>
                <p>Does it seem like you aren't achieving everything you initially set out to? Find out how to cope with it and fix it.</p>
            </div>
            <div class="content-card-line"></div>
            <div class="content-card-blog">
                <a href="/blog?blog=Create-Confidence" onclick="return myScroll();"><h3>How to Build and Foster Confidence in Your Life</h3></a>
                <p>Sick of being paralyzed and having self doubt consistently during your life? Learn how to be sure in what you do.</p>
            </div>
        </div>
        <div class="content-card background-light-gray">
            <center><h1>Create</h1>
            <p>Do you want to create new things?</p>
            <img alt="Create Image" src="images/create.webp" class="content-card-image" />
            </center>
            <div class="content-card-line"></div>
            <div class="content-card-blog">
                <a href="/blog?blog=How-To-Be-Creative" onclick="return myScroll();"><h3>How to be Creative In Software Engineering</h3></a>
                <p>Software Engineering at its core is a creative discipline. When solving problems, there are times when you need to think outside of the box, and be creative.</p>
            </div>
            <div class="content-card-line"></div>
            <div class="content-card-blog">
                <a href="/blog?blog=Finding-Your-Passion" onclick="return myScroll();"><h3>Tips and Tricks to Finding Your Passion</h3></a>
                <p>Unsure of your path in life? Unsure of what to do? Learn how to find what you love.</p>
            </div>
        </div>
    </div>
</div>
<div class="linebreak-big-margins"></div>
<div class="newsletter-signup">
        <h1 class="myCenter">Sign up for the newsletter</h1>
        <form class="myCenter" action="/subscribe" method="post">
            <input class="form-box" type="email" id="email" name="email" placeholder="Enter your email">
            <input type="submit" class="button-primary" />
        </form>
        <p class="form-description">Be one of the first to receive updates on new content with Develop Inspire Create</p>
        <br>
        {{#if attempted}}
            {{#if result}}
                <center><i class="fa fa-check"></i> Please check your email to verify your account!</center>
            {{else}}
                <center><i class="fa fa-times"></i> Something went wrong. Try again later.</center>
            {{/if}}
        {{else}}

        {{/if}}
</div>

<div class="container background-black">
    <div class="myCenter">
        <img alt="Develop Inspire Create" class="jumbo-img" src="images/DevelopInspireCreate.png">
    </div>
</div>