<div class="background-secondary">
    <div class="pad-left pad-right">
        <h1><center>LIVE YOUR LIFE</center></h1>
        <h3 class="index-subhead"><center>Click one of the sections below</center></h3>
    </div>
</div>

<div class="index-container">
    <div class="row">
        <a href="/develop" onclick="return myScroll();">
            <div class="content-card background-light-gray">
                <h1>DEVELOP</h1>
            </div>
        </a>
        <a href="/inspire" onclick="return myScroll();">
            <div class="content-card background-black">
                <h1>INSPIRE</h1> 
            </div>
        </a>
        <a href="/create" onclick="return myScroll();">
            <div class="content-card background-light-gray">
                <h1>CREATE</h1>
            </div>
        </a>
    </div>
</div>

<div class="background-secondary">
    <div class="pad-left pad-right">
        <h1><center></center></h1>
        <h3 class="index-subhead"><center>&zwnj; </center></h3>
    </div>
</div>