<div class="navbar container">
    <div class="pad-left pad-right navbar-container">
        <ul class="navbar-list navbar-logo">
            <li>
                <a href="/"><img src="images/DevelopInspireCreateStackedCropped.webp"></a>
            </li>
        </ul>
        <ul class="navbar-list">
            <li>
                <a href="/about">About</a>
                <a href="/products">Products</a>
                <a href="/blog">Blog</a>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </div>
    
</div>