<div class="navbar">
    <ul class="navbar-list">
        <li>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/videos">Videos</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
            <a href="/donate">Donate</a>
        </li>
    </ul>
    <div class="linebreak"></div>
</div>