<div class="navbar container">
    <div class="pad-left pad-right navbar-container">
        <ul class="navbar-list navbar-logo">
            <li>
                <a href="/"><img alt="Homepage" src="/images/DevelopInspireCreateStackedCropped.webp"></a>
            </li>
        </ul>
        <ul class="navbar-list">
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </div>
    
</div>