<div class="navbar">
    <ul class="navbar-list">
        <li>
            <a href="/">Home</a>
            <a href="/blog">Blog</a>
            <a href="/contact">Contact</a>
            <a href="/donate">Donate</a>
        </li>
    </ul>
    <div class="linebreak"></div>
</div>