<div class="navbar">
    <ul class="navbar-list">
        <li>
            <a href="/notify">Home</a>
            <a href="/notify-about">About</a>
        </li>
    </ul>
    <div class="linebreak"></div>
</div>