<div class="background-secondary pad-left pad-right container-flex">
    <div class="quiz-flex-item">
        <h1>Where do you rate on the Develop, Inspire, Create scale?</h1>
        <h3 class="index-subhead">Take the quiz</h3>
    </div>
    <div>
        <img src="images/develop.webp" class="content-card-image" />
    </div>
</div>