<div class="background-secondary pad-left pad-right">
    <div class="resumeNewsletter">
        <div class="resume-newsletter-flex-item">
            <h1>Build Your Resume</h1>
            <h3 class="index-subhead">Put your information in an awesome resume template for FREE!</h3>
        </div>
        <div class="resume-newsletter-flex-img">
            <center>
            <img src="images/develop.webp" class="content-card-image" />
            </center>
        </div>
    </div>
</div>