<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    
    <script defer src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>  
    <script defer type="module" src="script.js"></script>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="animations.css">
    <link rel="stylesheet" href="admin.css">
    <link rel="stylesheet" href="contact.css">
    <link rel="stylesheet" href="videos.css">
</head>

<body class="wrapper">
    {{> navbar }}
    <main id="swup" class="transition-fade">
    {{{ body }}}
    </main>
    {{> footer }}
</body>

</html>