<div class="blog"></div>
<h1 class="pad-left pad-right">How to Manage Imposter Syndrome</h1>
<div class="pad-left blog-heading"></div>
<h4 class="pad-left pad-right blog-subhead">What to do when you start doubting yourself.</h4>
<img src="https://image.freepik.com/free-vector/questions-concept-illustration_114360-1513.jpg" class="pad-left pad-right blog-image" />
<p class="pad-left pad-right blog-paragraph">
    I’ve seen one of my connections on LinkedIn posting a lot recently. His posts have been about how many self-help and career resources out there are actually created by people with little experience. He talks about how you should always make sure you know who is giving you advice because you don’t want to get advice from people who aren’t qualified to give that advice.

    <br><br>

    I kept seeing these posts, and they sat with me the wrong way. Especially in regards to this website, the posts were basically referring to people like me. Was the content that I provided inherently less valuable than content that someone else provided? Would people not want to read my content when they found out who I really am? When would people notice that I’m an imposter? These questions started to form in my head.

    <br><br>

    My connection had a point. I wouldn’t be able to give the same insight that someone with more experience would be able to give. That’s what made these particular posts pretty effective at instilling a sense of imposter syndrome inside me.

    <br><br>

    Throughout life, within one’s career, and outside of it, imposter syndrome is almost inevitably going to come up. Nobody can be 100% sure that the path they are going is correct. Nobody can be 100% sure that they will be able to succeed. Doubts will form. Questions will begin to sting.

    <br><br>

    The effects of this can be crippling. For me in this particular situation, it made me want to stop creating content. It made me want to completely pivot the direction of this website. If I hadn’t realized that this was imposter syndrome, this would have completely stopped my creation of the content on this website. Stopping something completely is about as crippling as it gets. Even if it just slows someone down, they are still losing productivity and time that they could be spent growing.

    <br><br>

    Dealing with imposter syndrome is crucial. You have to internalize your value. Every single person has strengths and weaknesses. It is a fact of life. Imposter syndrome takes hold when people lose sight of their strengths. People forget that they can provide value. When you recognize the value you can actually deliver to something, that is the first step to dealing with imposter syndrome.

    <br><br>

    I might not have the most experience in topics I gave advice on. That doesn’t stop me from still providing good content. Imposter syndrome made me forget that even if I’m “not qualified,” I still have the ability to provide value. The value might not be as big as the person I think I’m impersonating, but there is still value. Generating value, regardless of how small it is, is always a step in the right direction. And then slowly, but surely, you will get better at providing more and more value, until eventually, you are able to be confident in yourself.

    <br><br>

    I think imposter syndrome stems from people forgetting that people get better over time. I might make a mistake now, but I will improve from that! Learning from our mistakes is part of how we improve and develop ourselves over time. You can’t be afraid of failure when dealing with imposter syndrome. Even if you fail now, you still will be better off than where you started. Imposter syndrome gives the choice of never failing at all, but that’s the choice where you stay stagnant. Personally, I would almost always prefer the choice to improve.

    <br><br>

    And that’s not to say you will fail, imposter syndrome just makes you think that you will. I don’t think that I’m failing at creating content for this website. As I mentioned earlier though, I doubted myself. 

    <br><br>

    Dealing with imposter syndrome requires a bit of a leap of faith. It only goes so far recognizing that imposter syndrome isn’t actually a feeling you should listen to. You <em>know</em> that you shouldn’t listen to imposter syndrome, but the fact is that the feeling is still there. You just have to trust in yourself, remind yourself that you can do it, and take a leap of faith.



    <br><br>
</p>
<p class="pad-left pad-right blog-paragraph">
    <br><br>
    <a class="footer-anchor" href="https://www.freepik.com/vectors/people">People vector created by stories - www.freepik.com</a>
</p>