<p class="mini-text"><br><br></p>
<div class="myCenter">
    <img src="images/DevelopInspireCreateCropped.png" class="logo-medium">
</div>
<div>
<p class="mini-text">
    <br><br>

    What do those words mean to you? 

    <br><br>

    To me, they are the tenants that I have made the pillars of my life. I want to always improve, inspire others, and create new things. I created this website to be the main focal point for what I am doing and because I want people to understand what Develop, Inspire, and Create mean to me.

    <br><br>

    Life has many ups and downs. Your life is no different, and my life is no different from yours. Everybody has their challenges, their struggles, their hopes, and dreams. Everybody has their failures, their successes, their wins, and losses. I'm hoping on this journey, I can illustrate the image in your mind that life is about the journey. Life is what you make of it, and everybody can make it theirs.

    <br><br>

    The modules, or pages Develop, Inspire, and Create, are best viewed in that order, however, they are designed to be standalone. They will be most powerful when you experience them together, though. I hope you get something out of them, and always develop, inspire, create.

    <br><br>

    -Daniel
</p>
</div>