<div class="pad-left pad-right">
<h1>{{ title }}</h1>
<img src="images/DevelopInspireCreateCropped.png" class="logo-small">

<p>Develop, Inspire, Create</p>
<p>What do those words mean to you? I can tell you what they mean to me. To me, the phrase invokes a feeling of wanting to improve. It invokes a feeling of wanting to do something bigger, and grander.
    That's exactly why I made this website. I wanted a platform where I could take the core tenants of my life- develop, inspire, create- and share them with the world.

    <br><br>

    So I ask of you to join me on this journey, and together we can live our lives developing, inspiring, and creating.

    <br><br>

    -Daniel
</p>
</div>