
<div class="container background-black">
    <div class="myCenter">
        <img class="logo-medium" src="images/DevelopInspireCreate.png">
    </div>
</div>
<div>
<p class="mini-text">
    <br><br>

    Welcome to my website!

    <br><br>

    My name is Daniel. I'm the creator of this website, and a Software Engineer.

    <br><br>

    Originally I wanted this website to be a place to share my knowledge on various topics. Blog posts, courses, videos, and the like. I very quickly realized that this would be way more work than I'm willing to put in right now, so we're pivoting.

    <br><br>

    This website is just going to be a place where I put stuff that I might want to share. It could still be career advice, tips, or something similar, but this time, I don't want to lock myself into one lane.

    <br><br>

    We're going to do it all. This website is Develop / Inspire / Create, and I want to do just that.

    <br><br>

    Sayonara,
    <br> 
    Daniel Barnes
</p>
</div>