
<div class="container background-black">
    <div class="myCenter">
        <img class="logo-medium" src="images/DevelopInspireCreate.png">
    </div>
</div>
<div>
<p class="mini-text">
    <br><br>

    My name is Daniel. I'm the creator of this website, and a Software Engineer.

    <br><br>

    There are two main reasons I created this website. The first, which is a lot simpler to explain, is simply to host <a href="/links">cool projects</a> that I work on. The second, which I want to explain a little more, is to share my knowledge on various topics.

    <br><br>

    The information that I share in this website is primarily related to starting a career in Software Engineering, and "self help," but you'll see some things regarding other topics as well. I’ve had my ups and downs in life. I’ve helped friends and had friends help me. I’ve just lived my life. I’m just a man who has figured out what works for me. That's the content on this website. It is what has worked <em>for me</em>.
    
    <br><br>

    This website is not telling you that you have to live your life a specific way. It's not saying you should go about your career a certain way. I am by no means qualified enough to say that. It is merely a suggestion on what I think could help you. It is the tips and tricks that I've accumulated from my life, and that I think could be applicable to the average person. Be it someone looking to start a career in Software Engineering, or someone looking to improve their life, I truly believe that there is content on this website that can help. What do I know, though? I'm just some guy who has listened to one too many podcasts. 
    <br><br>

    Good Luck,
    <br>
    Daniel Barnes
</p>
</div>