<p class="mini-text"><br><br></p>
<div class="myCenter">
    <img src="images/DevelopInspireCreateCropped.png" class="logo-medium">
</div>
<div>
<p class="mini-text">
    <br><br>

    My name is Daniel Barnes. I'm the creator of this website, and a Software Engineer.

    <br><br>

    I wasn't a particularly special case in the industry. I didn't start coding when I was 12. I didn't go to a particularly great school. My grades were pretty average. I still ended up with a job in Software Engineering in Silicon Valley.

    <br><br>

    I know the tips and tricks that you can use to start your career in Software Engineering <strong>miles</strong> ahead of your peers. I did it myself, and now I'm sharing 90% of my content for <strong>free</strong>. I know that starting out in this career is difficult, and stress filled, so I wanted to create an avenue for students just like you to be able to succeed. I truly believe that with hard work and dedication, anyone can get an amazing job writing software.

    <br><br>
    Good Luck,
    <br>
    Daniel Barnes
</p>
</div>