<br><br><br><br>
<div class="pad-left">
    <h2>Send me an email: </h2><br>
    <form id="contactForm" action="/contact/send" method="post">
        <script>
            function submitForm() {
                document.getElementById("contactForm").submit();
            }
        </script>
        <input style="position: absolute;left: -30000px;" name="extraForm" id="extraForm" type="text">
        <label for="name">Your name:</label>
        <br><input required name="user" id="name" class="form-input" type="text"><br>
        <br><label for="userEmail">Your email:</label>
        <br><input required type="email" name="userEmail" id="userEmail" class="form-input" type="text"><br>
        <br><label for="contactBody">Your message:</label><br>
        <textarea required name="body" id="contactBody" class="form-input" rows="5" cols="40"></textarea>
        <div class="g-recaptcha" data-sitekey="6Le7JK0bAAAAADV3P6ZDDOXJHJImPrefIVghEs_7" data-bind="recaptcha-submit"
            data-callback="submitForm"></div>
        <br><input type="submit" class="button-primary" id="recaptcha-submit" />
        {{#if attempted}}
        {{#if result}}
        <i class="fa fa-check"></i> Email successfully sent.
        {{else}}
        <i class="fa fa-times"></i> Error: please try again later.
        {{/if}}
        {{else}}

        {{/if}}
    </form>

    <br>

    <h2>Send a notification directly to my phone: </h2>
    <a href="/notify" target="_blank" rel="noreferrer noopener"><button class="button-primary">Click me</button></a>

    <br><br>
    
    <h2>Other Links</h2>
    <ul class="contact-list-horizontal">
        <li><a href="https://github.com/danielbarnes175"><i class="fa fa-github fa-3x"></i></a></li>
        <li><a href="https://www.linkedin.com/in/danielbarnes175/"><i class="fa fa-linkedin fa-3x"></i></a></li>
        <li><a href="https://twitter.com/Bballdaniel3"><i class="fa fa-twitter fa-3x"></i></a></li>
        <li><a href="https://www.instagram.com/bballdaniel3/"><i class="fa fa-instagram fa-3x"></i></a></li>
    </ul>
</div>