<br><br><br><br>
<div class="pad-left">
    <h2>Send me an email: </h2><br>
    <form action="/contact/send" method="post">
        <label for="name">Your name:</label>
        <br><input name="user" id="name" class="form-input" type="text"><br>
        <br><label for="contactBody">Your message:</label>
        <br>
        <textarea name="body" id="contactBody" class="form-input" rows="5" cols="70"></textarea>
        <br><input type="submit" class="button-primary" />
        {{#if attempted}}
            {{#if result}}
                <i class="fa fa-check"></i> Email successfully sent.
            {{else}}
                <i class="fa fa-times"></i> Error: please try again later.
            {{/if}}
        {{else}}

        {{/if}}
    </form>

    <br><br>

    <h2>Other Links</h2>
    <ul class="contact-list">
        <li><a href="https://github.com/danielbarnes175"><i class="fa fa-github" ></i> Github</a></li>
        <li><a href="https://www.linkedin.com/in/danielbarnes175/"><i class="fa fa-linkedin" ></i> LinkedIn</a></li>
        <li><a href="https://twitter.com/Bballdaniel3"><i class="fa fa-twitter" ></i> Twitter</a></li>
        <li><a href="https://www.youtube.com/channel/UCFhcd2AR1Goxw0UzQ8_n1pQ"><i class="fa fa-youtube" ></i> YouTube</a></li>
        <li><a href="https://www.instagram.com/bballdaniel3/"><i class="fa fa-instagram" ></i> Instagram</a></li>
    </ul>
</div>