<div class="myCenter">
    <h1 class="jumbo-heading">CREATE</h1>
</div>
<div class="background-secondary myCenter">
    <img src="https://i.imgur.com/djwq9ar.png" class="content-card-image" />
</div>
<div>
    <p class="jumbo-text">If you've never heard of Bloom's Taxonomy, it is a model for how people learn. It is demonstrated in a pyramid where the items on the bottom of the pyramid are a prerequisite for those at the top. You can see a visualization of this model below. Remembering is a prerequisite for understanding, and understanding is a prerequisite for applying, and so on until you reach the top of the triangle.</p>
</div>
<div class="myCenter">
<img src="images/BloomsTaxonomy.png" class="content-card-image" />
</div>
<div>
    <p class="jumbo-text">You'll notice that creating is at the top. This is important for the word create. In order to create, one must conquer the other layers of the pyramid. From there, you gain true mastery of the subject, and you are free to make it what you want. The ability to make something yours is what makes the word create so powerful to me.

        <br><br>

    When you apply this to your life, you are creating the experiences and memories that you have. You are making your life your own. It isn't someone else changing who you are; you've done it yourself.

        <br><br>

    It's powerful to me: the ability to create anything you put your mind to. Be it a song, art, or experiences, or memories, creation and creativity is a tool that I believe should be included in everyone's arsenal.
    </p>
</div>
