<div class="myCenter">
    <h1 class="jumbo-heading">DEVELOP</h1>
</div>
<div class="background-secondary myCenter">
    <img src="https://i.imgur.com/iyUqBfY.png" class="content-card-image" />
</div>
