<center>
    <div class="container-center">
        <img class="logo" src="images/DevelopInspireCreateCropped.png">
    </div>
    <div>
        <h1>Sign up for the newsletter</h1>
        <form>
            <input class="form-box" type="email" id="email" name="email" placeholder="Enter your email">
            <button class="button-primary">Sign up!</button>
        </form>
        <p class="form-description">You'll receive news about the latest video releases, as well as other updates!</p>
    </div>
</center>