<div class="newsletter-container">
    <form class="myCenter" action="/subscribe" method="post">
    <p class="text-center">Get access to our FREE newsletter and be the first to receive our tips and tricks:  </p>
    <div class="form-group">
        <input class="newsletter-form-input" type="email" id="email" name="email" placeholder="Email">
        <input type="submit" class="newsletter-form-submit" />
    </div>
    </form>
</div>
<center>
    <div class="container background-black">
        <div class="myCenter">
            <img class="jumbo-img" src="images/DevelopInspireCreate.png">
        </div>
    </div>
</center>
{{> homepagecontent }}