<center>
    <div class="container-center">
        <img class="logo" src="images/DevelopInspireCreateCropped.png">
    </div>
    <div>
        <h1>Sign up for the newsletter</h1>
        <form action="/subscribe" method="post">
            <input class="form-box" type="email" id="email" name="email" placeholder="Enter your email">
            <input type="submit" class="button-primary" />
        </form>
        <p class="form-description">You'll receive news about the latest video releases, as well as other updates!</p>
        <br><br>
        {{#if attempted}}
            {{#if result}}
                <i class="fa fa-check"></i> You've successfully been added to the newsletter!
            {{else}}
                <i class="fa fa-times"></i> Something went wrong. Try again later.
            {{/if}}
        {{else}}

        {{/if}}
    </div>
</center>