<div class="myCenter">
    <h1 class="jumbo-heading">INSPIRE</h1>
</div>
<div class="background-secondary myCenter">
    <img src="https://i.imgur.com/FKX9cmt.png" class="content-card-image" />
</div>