<div class="myCenter">
    <h2>Social Media</h2>
</div>
<div class="myCenter">
    <ul class="contact-list-horizontal">
        <li><a href="https://github.com/danielbarnes175"><i class="fa fa-github fa-3x" ></i></a></li>
        <li><a href="https://www.linkedin.com/in/danielbarnes175/"><i class="fa fa-linkedin fa-3x" ></i></a></li>
        <li><a href="https://twitter.com/Bballdaniel3"><i class="fa fa-twitter fa-3x" ></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCFhcd2AR1Goxw0UzQ8_n1pQ"><i class="fa fa-youtube fa-3x" ></i></a></li>
        <li><a href="https://www.instagram.com/bballdaniel3/"><i class="fa fa-instagram fa-3x" ></i></a></li>
    </ul>
</div>

<div class="myCenter">
    <h2>Projects</h2>
</div>
<div class="footer">
    <ul class="project-list">
        <li><a href="https://developinspirecreate.com/notify"><i class="fas fa-sms fa-2x" ></i> Send me a notification</a></li>
        <li><a href="https://www.curseforge.com/minecraft/mc-mods/running-shoes-mod-1-12-2"><i class="fa fa-cube fa-2x" ></i> Minecraft Running Shoes Mod</a></li>
        <li><a href="https://twitter.com/happydaybot2"><i class="fa fa-twitter fa-2x" ></i> Happy Day Twitter Bot</a></li>
        <li><a href="https://tomthetornado.github.io/SpriteMaker/src/index.html"><i class="fa fa-palette fa-2x" ></i> Sprite Creator</a></li>
        <li><a href="https://github.com/danielbarnes175/FrameByFrame"><i class="fa fa-sticky-note fa-2x" ></i> Frame By Frame Animation Program</a></li>
        <li><a href="https://github.com/danielbarnes175/DanielBot"><i class="fab fa-discord fa-2x" ></i> Discord Bot</a></li>
        <li><a href="https://www.youtube.com/watch?v=7vSCO4jO0EQ"><i class="fas fa-gamepad fa-2x" ></i> Boss Fight Battlegrounds Game</a></li>
        <li><a href="https://www.youtube.com/watch?v=eH3_yiz7nn4"><i class="fas fa-camera fa-2x" ></i> Face Tracking Camera</a></li>
        <li><a href="https://danielbarnes175.github.io/Quizzes/clickerGame.html"><i class="fas fa-mouse fa-2x" ></i> Basic Clicker Game</a></li>
    </ul>
</div>