<div class="container">
    <div class="center">
        <form action="/notify" method="post" >
            <textarea name="message" id="notifyBody"  class="messageBox" placeholder="Optional message" maxlength="900"></textarea>
            <button type="submit" class="btn">
                <svg width="180px" height="60px" viewBox="0 160 180 160" class="border">
                <polyline points="179,1 179,60 1,60 1,1 179,1" class="bg-line" />
                <polyline points="179,1 179,60 1,60 1,1 179,1" class="hl-line" />
                </svg>
                <span>Send Notification</span>
            </button>
        </form>
    </div>
</div>

