<div class="pad-left pad-right">
<h1 class="h1-large">{{ title }}</h1>

<p class="p-large">NotifyMe is a simple website. It all boils down to containing a button that when you click it, it sends me a notification.</p>
<p class="p-large">Why did I design this? I thought it would be fun to have a website where my friends could pester me. Will I regret this? Almost certainly. Is it delivery? No, it's Digiorno. One thing I am sure of, however, is that you should click the button.</p>
</div>