<h1>{{ title }}</h1>
<p>
    <ul>
        <li>
            Third party vendors, including Google, use cookies to serve ads based on a user's prior visits to your website or other websites. For more information on how Google uses your information to display ads, click <a href="https://policies.google.com/technologies/partner-sites">here</a>.
        </li>
        <li>
            Google's use of advertising cookies enables it and its partners to serve ads to you based on your visit to this site and/or other sites on the Internet.
        </li>
        <li>
            Users may opt out of personalized advertising by visiting <a href="https://adssettings.google.com/authenticated">Ads Settings.</a>
        </li>
        <li>
            Other than information for ads, this website only collects data submitted through the newsletter sign up form. We will not send you any emails unless the given email is verified.
        </li>
    </ul>
</p>