<br><br><br>
<div class="myCenter">
    <h3>Note: Formatting may be funky.</h3>
</div>
<br><br><br>
<div class="myCenter">
    <span>
    <iframe width=1400 height=1000 src="https://docs.google.com/document/d/e/2PACX-1vQBf62mBwQHVqh6C96odMQ_jziXHAwt-Kpjnmre6YmNKwHILtcQ6Sov8Fiosg-6E4UXDeDRwtFFxrMn/pub"></iframe>
    </span> 
</div>