.blog {
    margin-top: 7%;
}

.blog-heading {
    border-bottom: 3px solid cyan;
    width: 100px;
    margin-bottom: 10px;
}
.blog-list {
    list-style-type: none;
    padding-left: 0;
    padding-inline-start: 0;
}

.blog-list a {
    text-decoration: none;
    padding-left: 0;
    padding-inline-start: 0;
}

.blog-post-card {
    text-decoration: none;
    color: #73777c;
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 7px;
}
.blog-post-card:hover {
    color: rgb(35, 37, 37);
}

.blog-paragraph {
    font-family: "Libre Baskerville",Georgia,serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    line-height: 1.75;
}

.blog-image {
    width: 25%;
    height: auto;
}

.blog-subhead {
    color: #2c2c2c;
    text-transform: uppercase;
}

.blog-blockquote {
    padding: 15px;
    margin: 0 27%;
    background-color: #f9f9f9;
    border-left: 3px solid #ccc;
    line-height: 1.75;
}

@media only screen and (max-width: 600px) {
    .blog-image {
        width: 50%;
        height: auto;
    }

    .blog-list {
        padding-left: 0;
    }

    .blog-blockquote {
        padding: 15px;
        margin: 0 7%;
        color: #e4ede6;
        background-color: #332f2f;
        border-left: 3px solid #88a5d6;
        line-height: 1.5;
    }
  }