.form-input {
    margin: 5px;
    padding: 3px;
}

.contact-list {
    list-style-type: none;
}

.contact-list li {
    padding: 2px;
}

.contact-list li a {
    color: #73777c;
    text-decoration: none;
}

.contact-list li a:hover {
    color: rgb(35, 37, 37);
}

.contact-list-horizontal {
    list-style-type: none;
    float: left;
    padding: 0px;
}

.contact-list-horizontal li {
    display: inline;
    padding: 10px;
}

.contact-list-horizontal li a {
    color: #73777c;
    text-decoration: none;
}

.contact-list-horizontal li a:hover {
    color: rgb(35, 37, 37);
}

.project-list {
    list-style-type: none;
    display: inline-block;
    padding: 0;
}

.project-list li {
    font-size: 24px;
    margin: 0 2px;
    padding: 5px 0;
    text-align: left;
}

.project-list li a {
    color: #73777c;
    text-decoration: none;
}

.project-list li a:hover {
    color: rgb(35, 37, 37);
}