.imgbox {
    display: grid;
    height: 100%;
}
.jumbo-img {
    max-width: 70%;
    max-height: 100vh;
    margin: auto;
}

.index-subhead {
    color: #a1e1e1;
}

.background-secondary {
    background: #2b2e33;
    padding: 5px;
}
.index-container {
    margin: 0 25% 0 25%;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.row a {
    text-decoration: none;
    color: white;
    flex: 33%;
}

.row a:hover {
    opacity: 0.9;
    color: red;
}
.content-card {
    flex: 33%;
}

.content-card-image {
    width: 50%;
    height: auto;
}

.content-card-line {
    margin: 10px 40% 10px 40%;
    border-bottom: 2px solid #a1e1e1;
}
.content-card-blog {
    margin-top: 1%;
    padding: 4% 8% 4% 8%;
    height: 250px;
}

.content-card-blog a {
    color: white;
    text-decoration: none;
}
.content-card-blog a:hover {
    color: cyan;
}

.content-card-blog p {
    color: #a1e1e1;
}

.content-card-blog img {
    width: 50%;
}

.linebreak-big-margins {
    margin: 5% 40% 5% 40%;
    border-bottom: 2px solid #eeeeee;
}

@media only screen and (max-width: 600px) {
    .index-container {
        margin: 0;
    }

    .content-card {
      flex: 100%;
    }
    .row a {
        text-decoration: none;
        color: white;
    }

    .content-card-blog {
        margin-top: 1%;
        padding: 4% 8% 4% 8%;
        height: 150px;
    }

    .jumbo-img {
        max-width: 150%;
        max-height: 100vh;
        margin: auto;
    }
  }
