html {
    color: white;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: black;
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

body {
    margin: 0 0 0 0;
}

.pad-left {
    margin-left: 25%;
}

.pad-right {
    margin-right: 25%;
}

.pad-top {
    margin-top: 15%;
}

.navbar {
    text-decoration: none;
    color: white;
    font-family: "Roboto Black";
}

.navbar-list {
    display: inline;
    text-align: center;
    list-style-type: none;
}
.navbar-list li {
    padding-left:30px;
    padding-right:30px;
    float: center;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin-left:10px;
    margin-right:10px;
}

.navbar a:hover {
    color: cyan;
    padding-bottom: 3px;
    border-bottom: 3px solid #fff;
}

.linebreak {
    margin: 20px 40% 0 40%;
    border-bottom: 2px solid #eeeeee;
}
.container-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    margin-top: 10%;
    width: 75%;
    height: 100%;
}

.logo-small {
    margin-top: 1%;
    width: 25%;
    height: 100%;
}

.logo-medium {
    margin-top: 1%;
    width: 40%;
    height: 100%;
}

.logo-very-small {
    width: 10%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.form-box {
    padding: 5px;
    border-radius: 10px;
}

.newsletter-signup {
    margin-bottom: 10%;
}

.button-primary {
    color: white;
    background-color: red;
    border: 1px solid black;
    padding: 8px;
    border-radius: 3px;
}
.background-light-gray {
    background: #323c4d;
}

.background-black {
    background: black;
}
.button-primary:hover {
    background-color:darkred;
}

.button-secondary {
    color: white;
    background-color: #546e9c;
    border: 1px solid black;
    padding: 8px;
    border-radius: 3px;
}

.button-secondary:hover {
    background-color:#2c2c57;
}

.button-tertiary {
    color: white;
    background-color: #88a5d6;
    border: 1px solid black;
    padding: 8px;
    border-radius: 3px;
}

.button-tertiary:hover {
    background-color:#595979;
}

.form-description {
    margin: 10px 40% 0 40%;
}

.footer {
    text-align: center;
    font-size: 1em;
    margin: 0;
}

.footer-anchor {
    color: cyan;
}

@media only screen and (max-width: 600px) {
    .pad-left {
        margin-left: 5%;
    }

    .pad-right {
        margin-right: 5%;
    }

    .form-description {
        margin: 10px 15% 0 15%;
    }
  }