html {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.container {
    width: 100%;
}

body {
    margin: 0 0 0 0;
}

.pad-left {
    margin-left: 25%;
}

.pad-right {
    margin-right: 25%;
}

.pad-top {
    margin-top: 15%;
}

.navbar {
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0,0,0,.09);
}

.navbar-container {
    display: flex;
    flex-direction: row;
    overflow: wrap;
}
.navbar-list {
    flex: 50%;
    float: right;
    text-align: right;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 800;
}

.navbar-list li .navbar-list-logo li {
    padding: 0px 20px 10px 30px;
}

.navbar-logo {
    flex: 33%;
    text-align: left;
    padding-left: 0;
}

.navbar a {
    text-decoration: none;
    margin: 0 10px;
    color: #73777c;
}

.navbar a:hover {
    color: rgb(35, 37, 37);
    padding-bottom: 12px;
    border-bottom: 3px solid rgb(208, 255, 0);
}

.linebreak {
    margin: 20px 40% 0 40%;
    border-bottom: 2px solid #eeeeee;
}
.container-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    margin-top: 10%;
    width: 75%;
    height: 100%;
}

.logo-small {
    margin-top: 1%;
    width: 25%;
    height: 100%;
}

.logo-medium {
    margin-top: 1%;
    width: 40%;
    height: 100%;
}

.logo-very-small {
    width: 10%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.form-box {
    padding: 5px;
    border-radius: 10px;
}

.newsletter-signup {
    margin-bottom: 10%;
}

.button-primary {
    color: white;
    background-color: red;
    border: 1px solid black;
    padding: 8px;
    margin: 2px;
    border-radius: 3px;
}
.background-light-gray {
    background: #f3f3f4;
}

.background-black {
    background: black;
}
.button-primary:hover {
    background-color:darkred;
}

.button-secondary {
    color: white;
    background-color: #546e9c;
    border: 1px solid black;
    padding: 8px;
    border-radius: 3px;
}

.button-secondary:hover {
    background-color:#2c2c57;
}

.button-tertiary {
    color: white;
    background-color: #225abb;
    border: 1px solid black;
    padding: 8px;
    border-radius: 3px;
}

.button-tertiary:hover {
    background-color:#595979;
}

.form-description {
    margin: 10px 40% 0 40%;
}

.footer {
    text-align: center;
    font-size: 1em;
    margin: 0;
}

.footer-anchor {
    color: rgb(123, 88, 250);
}

@media only screen and (max-width: 1250px) {
    .pad-left {
        margin-left: 10%;
    }

    .pad-right {
        margin-right: 10%;
    }

    .navbar-container { 
        flex-direction: column;
    }

    .navbar-list {
        flex: 100%;
        float: center;
        text-align: center;
        padding-left: 0;
    }
}

@media only screen and (max-width: 600px) {
    .pad-left {
        margin-left: 5%;
    }

    .pad-right {
        margin-right: 5%;
    }

    .form-description {
        margin: 10px 15% 0 15%;
    }
  }

  @media only screen and (max-width: 400px) { 
      .navbar-list {
          font-size: 70%;
      }
  }